@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import "compass/css3";

.siderbarButtons{

    font-size: 15px;
    padding : 10px;
}


.siderbarButtons button{
    border-radius: 8px;
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

/*.siderbarButtons input[type="submit"]:hover {
    background: #17c;
}*/


.formularz{ 
    width: 500px;  
    margin-left: auto;
    margin-right: auto;

}


.formularz input, button { 
    display: inline-block;
    padding : 10px;
    margin-top: 10px;
} 

.formularz button{ 
    font-size: 15px;
    border-radius: 8px;
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

/*.formularz button:hover{ 
    background: #17c;
}*/

.editBtn button{    
    padding : 10px;
} 

.editBtn button{ 
    font-size: 15px;
    border-radius: 8px;
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

/*.editBtn button:hover{ 
    background: #17c;
}*/

#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;    
    margin: 0;
    display: block;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

#sidebar ul{
    padding: 0px;
    padding-top: 80px;
    margin: 0px auto;
    list-style-type: none;    

}

#sidebar li{

    text-align: center;
}

#sidebar.hide-sidebar {
    left: -250px;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

#wrapper {

    margin: 0 0 0 250px;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}

#wrapper.hide-sidebar {
    margin-left: 0;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}

#wrapper p{

    font-size: 50px;
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

#outermap{
    padding:20px;
}

#map {
    margin: 0px auto;
    width: 800px;
    height: 600px;
}

body {
    background: #fafafa url(http://jackrugile.com/images/misc/noise-diagonal.png);
    color: #444;
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
}

strong {
    font-weight: bold; 
}

em {
    font-style: italic; 
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;   
    text-align: left;
    width: 800px;
}	

table button{
    
    padding: 5px;
    font-size: 15px;
    border-radius: 8px;
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

/*table button:hover{ 
    background: #17c;
}*/

th {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;	
}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;	
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    text-align: center;
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;    
    transition: all 300ms;
}



